
    <!-- ========== PRELOADER ========== -->
    <div id="loading">
        <div class="inner">
            <div class="loading_effect">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div>


    <div class="wrapper">

        <ngx-ui-loader></ngx-ui-loader>
       

        <app-header></app-header>
        
        <app-messages></app-messages>


        <router-outlet></router-outlet>

    </div>






    




