<html class="loading" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="HOME SYSTEM APPS">
  <meta name="keywords" content="">
  <meta name="author" content="HOMESYSTEM">
 
  <title>GO-SYSTEM</title>

  <!-- END APEX CSS-->
  <!-- BEGIN Page Level CSS-->
  <!-- END Page Level CSS-->
</head>

<body data-col="1-column" class=" 1-column  blank-page">

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/img/GO.png" width="30" height="30" class="d-inline-block align-top" alt="">
      - SYSTEM
    </a>
  </nav>

  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <div class="wrapper">
    <div class="main-panel">
      <!-- BEGIN : Main Content-->
      <div class="main-content">
        <div class="content-wrapper">
          <!--Login Page Starts-->
          <section id="login">
            <div class="container-fluid">
              <div class="row full-height-vh m-0">






                        
                   

<div class="row">

  


  <div class="col-xl-2 col-lg-4 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="padding: 20px;">

          <div class="col-xl-6 col-lg-6 col-md-6 ">
            <div class="mx-auto d-flex justify-content-center">
              <img class="card-img-top img-fluid" src="assets/img/home.png"
                style="max-height: 100px ; max-width: 100px;" alt="home">
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6">
            <br>
            <br>
            <div class="d-flex justify-content-center">

              <h4 class="card-title">GO-HOME</h4>

            </div>





          </div>
        </div>

        <div class="card-body">
          <hr class="m-0">
          <p class="card-text">Una aplicación completa para administrar soluciones de vivienda.</p>
          <ul class="list-group">
            <li class="list-group-item">
              1. Ventas.
            </li>
            <li class="list-group-item">
              2. Arriendos.
            </li>

          </ul>
          <br>

          <div class="d-flex justify-content-center">
          <a class="btn btn-outline-primary">GO</a>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="col-xl-2 col-lg-4 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="padding: 20px;">

          <div class="col-xl-6 col-lg-6 col-md-6 ">
            <div class="mx-auto d-flex justify-content-center">
              <img class="card-img-top img-fluid" src="assets/img/services.png"
                style="max-height: 100px ; max-width: 100px;" alt="home">
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6">
            <br>
            <br>
            <div class="d-flex justify-content-center">

              <h4 class="card-title">GO-SERVICES</h4>

            </div>


          </div>
        </div>

        <div class="card-body">
          <hr class="m-0">
          <p class="card-text"> Encuentre un servicio técnico o domestico para su hogar rapido y de forma segura..</p>

          <ul class="list-group">
            <li class="list-group-item">
              1. Plomero.
            </li>
            <li class="list-group-item">
              2. Electrisista.
            </li>
            <li class="list-group-item">
              3. Aseo General.
            </li>
            <li class="list-group-item">
              4. Maestro de obra.
            </li>

          </ul>

          <br>

          <div class="d-flex justify-content-center">
          <a class="btn btn-outline-primary">GO</a>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="col-xl-2 col-lg-4 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="padding: 20px;">

          <div class="col-xl-6 col-lg-6 col-md-6 ">
            <div class="mx-auto d-flex justify-content-center">
              <img class="card-img-top img-fluid" src="assets/img/key.png"
                style="max-height: 100px ; max-width: 100px;" alt="home">
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6">
            <br>
            <br>
            <div class="d-flex justify-content-center">

              <h4 class="card-title">GO-KEYS</h4>

            </div>


          </div>
        </div>

        <div class="card-body">
          <hr class="m-0">
          <p class="card-text"> Administre todas sus claves y contraseñas de todas sus plataformas de forma segura..</p>

          <ul class="list-group">
            <li class="list-group-item">
              1. Redes Sociales.
            </li>
            <li class="list-group-item">
              2. Bancos.
            </li>
            <li class="list-group-item">
              3. Correos electronicos.
            </li>
            <li class="list-group-item">
              4. etc.
            </li>

          </ul>

          <br>

          <div class="d-flex justify-content-center">
          <a class="btn btn-outline-primary">GO</a>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="col-xl-2 col-lg-4 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="padding: 20px;">

          <div class="col-xl-6 col-lg-6 col-md-6 ">
            <div class="mx-auto d-flex justify-content-center">
              <img class="card-img-top img-fluid" src="assets/img/cmr.png"
                style="max-height: 100px ; max-width: 100px;" alt="home">
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6">
            <br>
            <br>
            <div class="d-flex justify-content-center">

              <h4 class="card-title">GO-CMR</h4>

            </div>


          </div>
        </div>

        <div class="card-body">
          <hr class="m-0">
          <p class="card-text"> Un CRM es una solución de gestión de las relaciones con clientes, orientada normalmente a gestionar tres áreas básicas: la gestión comercial, el marketing y el servicio postventa o de atención al cliente.</p>

          <ul class="list-group">
            <li class="list-group-item">
              1. Redes Sociales.
            </li>
            <li class="list-group-item">
              2. Bancos.
            </li>
            <li class="list-group-item">
              3. Correos electronicos.
            </li>
            <li class="list-group-item">
              4. etc.
            </li>

          </ul>

          <br>

          <div class="d-flex justify-content-center">
          <a class="btn btn-outline-primary">GO</a>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="col-xl-2 col-lg-4 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="padding: 20px;">

          <div class="col-xl-6 col-lg-6 col-md-6 ">
            <div class="mx-auto d-flex justify-content-center">
              <img class="card-img-top img-fluid" src="assets/img/place-play.png"
                style="max-height: 100px ; max-width: 100px;" alt="home">
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6">
            <br>
            <br>
            <div class="d-flex justify-content-center">

              <h4 class="card-title">GO-PLACE-PLAY</h4>

            </div>


          </div>
        </div>

        <div class="card-body">
          <hr class="m-0">
          <p class="card-text"> Administre canchas y escenarios deportivos .</p>

          <ul class="list-group">
            <li class="list-group-item">
              1. Reservas.
            </li>
            <li class="list-group-item">
              2. clientes.
            </li>
            <li class="list-group-item">
              3. Control Eventos.
            </li>
          </ul>

          <br>

          <div class="d-flex justify-content-center">
          <a class="btn btn-outline-primary">GO</a>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-2 col-lg-4 col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="row" style="padding: 20px;">

          <div class="col-xl-6 col-lg-6 col-md-6 ">
            <div class="mx-auto d-flex justify-content-center">
              <img class="card-img-top img-fluid" src="assets/img/room.png"
                style="max-height: 100px ; max-width: 100px;" alt="home">
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6">
            <br>
            <br>
            <div class="d-flex justify-content-center">

              <h4 class="card-title">GO-ROOMS</h4>

            </div>


          </div>
        </div>

        <div class="card-body">
          <hr class="m-0">
          <p class="card-text"> Administre espacios y eventos.</p>

          <ul class="list-group">
            <li class="list-group-item">
              1. Reservas Espacio.
            </li>
            <li class="list-group-item">
              2. Administracion evento.
            </li>
            <li class="list-group-item">
              3. Control Eventos.
            </li>
          </ul>

          <br>

          <div class="d-flex justify-content-center">
          <a class="btn btn-outline-primary">GO</a>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>






              </div>
            </div>
          </section>
          <!--Login Page Ends-->

        </div>
      </div>
      <!-- END : End Main Content-->
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <!-- END APEX JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <!-- END PAGE LEVEL JS-->
</body>

</html>