<main id="rooms_block_view">
    <div class="container">
        <div class="row">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">

                        <div class="col-md-8" style="padding-top: 8px;">
                            <h2 class="panel-title">Crear Usuarios</h2>

                        </div>

                    </div>

                </div>

                <div class="panel-body">



                    <form>

                        <div class="panel panel-default">
                            <div class="form-inline">


                                <div class="form-group">

                                    <label for="exampleInputAmount">TIPO IDENTIFICACION</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputAmount"
                                            placeholder="CC">
                                        <div class="input-group-addon">
                                            <a  > <i class="fa fa-search " aria-hidden="true" aria-details="ver"></i></a>
                                           
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">

                                    <label for="exampleInputAmount">NUMERO IDENTIFICACION</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" id="exampleInputAmount"
                                            placeholder="1.802.225.202">
                                    </div>
                                </div>




                            </div>
                        </div>

                    </form>






                </div>
            </div>






        </div>
    </div>
</main>