<!-- Modal TIPO IDENTIFICACION-->
<div class="modal fade" id="idModalDepartamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">




                <div class="row">

                    <div class="col-md-8" style="padding-top: 8px;">
                        <h2 class="panel-title">Lista De Departamentos</h2>

                    </div>

                    <div class="col-md-3">
                      
                        <div class="sidebar">
                            <aside class="widget">
                                <div class="search">
                                    <form method="get" class="widget_search">
                                        
                                        <input type="search" placeholder="Empiece a buscar..." 
                                         [(ngModel)]="txtBuscarDepartamento"  
                                         name="txtBuscarDepartamento"  
                                         id="txtBuscarDepartamento" >
                                        <button class="search_btn"  type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </aside>
                        </div>

                    </div>

                    <div class="col-md-1" style="padding-top: 8px;">
              
                    </div>      

                </div>

            </div>
            <div class="modal-body">

                <div class="card-body table-responsive p-0">
                    <table class="table table-sm text-nowrap table-hover">
                        <thead>
                            <tr>
                                <th>Accion</th>
                                <th>Id</th>
                                <th>Departamento</th>




                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listDepartamentos | filtroDepartamento: txtBuscarDepartamento  | paginate: {
                            id: 'departamentoPagination',
                            itemsPerPage: 10,
                            currentPage: page,
                            totalItems: total } ">


                                <td>
                                    <div class="row">
                                        <button type="button" class="btn btn-sm" data-dismiss="modal"
                                            title="Seguimiento" (click)="seleccionar(item)">
                                            <i class="fa fa-check-circle fa-lg"></i>
                                        </button>
                                        &nbsp;

                                    </div>
                                </td>

                                <td>{{item.id}}</td>
                                <td>{{item.nombre}}</td>




                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls id="departamentoPagination" (pageChange)="page = $event"
                    style="text-align: right;" nextLabel="" previousLabel="">
                </pagination-controls>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



<!-- Modal USUARIOS-->
