<main id="rooms_block_view">
    <div class="container">
        <div class="row">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">

                        <div class="col-md-8" style="padding-top: 8px;">
                            <h2 class="panel-title">Lista de Usuarios</h2>

                        </div>

                        <div class="col-md-3">

                            <div class="sidebar">
                                <aside class="widget">
                                    <div class="search">
                                        <form method="get" class="widget_search">
                                            <input type="search" placeholder="Start Searching...">
                                            <button class="search_btn" id="searchsubmit" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </aside>
                            </div>

                        </div>

                        <div class="col-md-1" style="padding-top: 8px;">
                            <button class="button btn_sm btn_yellow"><i class="fa fa-plus" aria-hidden="true"></i>
                                &nbsp;Crear</button>
                        </div>

                    </div>





                </div>
                <div class="panel-body">

                    <!-- TABLE -->
                    <div class="table-responsive">
                        <table class="table table-hover" style="size: 20px;">

                            <thead>
                                <tr>
                                    <th style="width: 5%;">Tipo</th>
                                    <th style="width: 12%;"># Identificacion</th>
                                    <th>Rol</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CC</td>
                                    <td>1090472353</td>
                                    <td>Administrador</td>
                                    <td>Jose Henry</td>
                                    <td>Duarte Castellanos</td>
                                    <td>Activo</td>
                                    <td>
                                        <button class="button btn_sm btn_yellow"><i class="fa fa-pencil fa-lg"
                                                aria-hidden="true"></i></button>
                                        &nbsp;
                                        <button class="button btn_sm btn_yellow"><i class="fa fa-trash fa-lg"
                                                aria-hidden="true"></i></button>
                                        &nbsp;
                                        <button class="button btn_sm btn_yellow"><i class="fa fa-toggle-on fa-lg"
                                                aria-hidden="true"></i></button>

                                    </td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                    <!-- #####3 -->


                </div>
            </div>






        </div>
    </div>
</main>