<br>
<br>
<br>
<br>
<br>
<br>


<!-- ========== HORIZONTAL BOOKING FORM ========== -->
<div class="hbf">
    <div class="container">
        <div class="inner">
            

            <div class="row">
                <div class="col-lg-1 col-md-1">
                   
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="event-wrapper">
                        <h5> <a >Confirmando su registro ...</a></h5>
 
                        <div class="description">
                            <p> Su registro esta casi listo, valide su correo electronico para verificar su cuenta.
                            </p>
                            <p> Si tienes problemas con el correo de verificacion, envianos un email al <strong>go-system-home@outlook.com</strong>
                                indicandonos tu problema.
                            </p>
                        </div>

                        <div class="meta">
                            <div class="time"> <i class="{{icono}}"></i> {{estado}}</div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">

                </div>
            </div>

           





            </div>
        </div>
    </div>
